*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    color: #243e63;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
    display: inline;
}

nav{
padding-top: 32px;
display: flex;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


/* NAVIGATION */
.nav__logo{
    display: flex;
    align-items: center;
}
.nav__logo--img{
    height: 40px;
    width: 40px;
}
.nav__logo--title{
    font-weight: 900;
    font-size: 24px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}
.nav__links{
    display: flex;
    align-items: center;
    padding-bottom: 2px;
}
.nav__link{
    font-size: 14px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
}

.nav__link{
        margin: 0 24px;

}
.nav__row{
    display: flex;
    justify-content: space-between;
}

.nav__link--primary{
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: auto;
    transition: all 300ms ease;
}