@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #243e63;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}
img{
    width: 100%;
}

a{
    text-decoration: none;
    display: inline;
}

section{
    padding: 0 32px;
}

ul{
    display: flex;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

main{
    margin-bottom: 96px;
}

/*


NAVIGATION 

*/

.nav{
    display: flex;
}

nav{
padding-top: 32px;

}

.btn__menu {
 display: none;
 background: transparent;
border: none;
transition: all 300ms ease;
}

.btn__menu--svg:hover {
    filter: invert(26%) sepia(94%) saturate(7476%) hue-rotate(261deg) brightness(94%) contrast(115%);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 378px;
    margin: 24px 16px;
    padding: 32px;
    background-color: #fff;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 8px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transform: translateX(300%);
    transition: all 300ms ease;
}
.modal__links {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__link {
    color: #1a202c;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    margin: 8px 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
}

.modal__link--primary {
    color: #f7fafc;
    padding: 12px 32px;
    background: #6415ff;
    border-radius: 500px;
    border: none;
}


.menu--open .modal {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}
.btn__menu--close {
    position: fixed;
    top: 24px;
    right: 18px;
}
.nav__logo{
    display: flex;
    align-items: center;
    
}
.nav__logo--img{
    height: 60px;
    width: 60px;
     
}
.nav__logo--title{
    font-weight: 900;
    font-size: 44px;
    margin-left: 12px;
    padding-bottom: 2px;
    letter-spacing: 0.6px;
}

.nav__link{
    font-size: 34px;
    font-weight: 600;
    padding-top: 4px;
    letter-spacing: 0.35px;
    position: relative;
    border-bottom: 2px solid transparent;
    margin: 0 24px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    text-wrap: wrap;
}


.nav__links{
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 2px;
}





.login{
    margin-left: 48px;
}
.nav__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.nav__link--primary{
    margin: 0;
    padding: 10px 32px;
    margin-top: 2px;
    border-radius: 9999px;
    color: #fff;
    background-color: #6415ff;
    line-height: 1.5;
    border: none;
    width: 50%;
    transition: all 300ms ease;
}